body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
  padding: 50px;
  background: #000000;
  color: rgb(255, 255, 255);
}

section {
  padding: 20px;
}

.project {
  background: white;
  margin: 15px 0;
  padding: 15px;
  border-radius: 5px;
}




